@model IEnumerable<GreenThumb.Models.Plant.PlantListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Plant #
        </th>
        <th>
            Plant Type
        </th>
        <th>
           Soil Type
        </th>
        <th>
            Watering Rate
        </th>
        <th>
            Time Last Watered
        </th>
        <th>
           Time Last Fertilized
        </th>
        <th>
            Needs Watered 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlantID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfPlant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoilMix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WateringFrequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeWatered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeFertilized)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextWatering)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlantID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PlantID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PlantID })
        </td>
    </tr>
}

</table>
